<div class="container-fluid" style="background-color:#f2f5f8;">
    <div class="header p-4 pb-1">
        <button class="update">تعديل &nbsp;<i class="fa fa-edit"></i></button>
        <div class="number-ticket">
            <span> تذكرة رقم #2342 </span>
            <i class="arrow fa fa-arrow-right p-2"></i>
        </div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <app-statistics class="col-md-8" />
        <app-show-ticket class="col-md-4" />
        <app-table-data class="col-12" />
    </div>
</div>